{% extends '_base.html' %}

{% block title %} Lots for Product {% endblock %}

{% block content %}

<style>
  table, th{
    border:1px solid black;
    text-align: center;
    font-weight: 700;
    /* font-size: 14px; */
    background-color: white;
  }
  th{
    background-color: red;
    color: white;
    font-size: 16px;
  }
  table, td {
    border:1px solid black;
    font-weight: 400;
  }
  h1 {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
  }
  </style>

    <h1> Barcode Scanner </h1>
    
    <table style="width:100%">
      <tr>
        <th>Date Issued</th>
        <th>Product Name</th>
        <th>What to do</th>
        <th>Termination Date</th>
      </tr>
      <tr>
        <td>12/13/2022</td>
        <td>Yellow Liquid</td>
        <td>Return to Seller</td>
        <td>Current</td>
      </tr>
    </table>
    

    {% endblock content %}